/* PSEUDO-CLASSE */

/*
*/

.hover-elemento:hover {
  color: red;
}

.ativar:active {
  font-size: 40px;
  color: rgb(18, 28, 170);
}

.radio:checked {
  width: 40px;
  color: green;
}

.checkbox:checked {
  height: 40px;
  color: green;
}

.desabilitado:disabled {
  color: rgb(255, 0, 0);
  background-color: brown;
}
